@font-face {
    font-family: 'gogh';
    src: url(../fonts/gogh.woff);
}

@font-face {
    font-family: 'dmsans';
    src: url(../fonts/dmsans.ttf);
}

.top {
    height: 40rem;
    background-image: url(../img/pequenosguerreiros1.jpg);
    border-bottom: solid var(--lines-color) 0.625rem;
    background-size: cover;
}

.body-title {
    font-family: 'gogh';
    font-display: swap;
    font-size: 10vh;
    font-weight: bolder;
    text-shadow: 0.063rem 0.188rem 0.625rem #29292985;
    color: var(--font-lightcolor);
    padding: 1.25rem 0rem 0.625rem 1.25rem;
    position: relative;
}

.card-missao, .card-valores, .card-visao {
    text-align: center;
    min-height: 30rem;
    max-width: 25rem;
}

.card .body-dilema {
    font-family: 'dmsans';
    font-size: 6vh;
    font-weight: bold;
    color: var(--font-lightcolor);
    padding: 1.25rem 0rem 0.625rem 1.25rem;
    position: relative;
}

.columnL {
    text-align: start;
    display: flex;
    flex-direction: column;
    padding: 5vh;
}

.buttonAdquira {
    height: 8.5rem;
    width: 35rem;
    margin: -7rem 0rem 0rem 30rem;
    padding: 0rem 3rem 0rem 3rem;
    color: var(--font-lightcolor);
    border: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "gogh";
    font-size: 3.8vh;
    font-weight: bold;
    border-radius: 1.125rem;
    background: linear-gradient(145deg, var(--main-color), var(--accent-color));
    box-shadow: 0.625rem 0.625rem 0.625rem 0rem #00000048;
    cursor: pointer;
    transition: all 0.3s;
    display: inline-block;
    position: relative;
    align-self: center;
}

.buttonAdquira:hover {
    transform: scale(1.05);
}

.columnL p {
    margin-bottom: 5vh;
}

.linha-vertical {
    height: 800px;
    /*Altura da linha*/
    border-right: 2px solid;
    /* Adiciona borda esquerda na div como ser fosse uma linha.*/
}

.columnR {
    text-align: start;
    display: flex;
    flex-direction: column;
    padding: 5vh;
    justify-content: start;

    & p {
        margin-bottom: 6vh;
    }
}

.section {
    font-family: 'dmsans';
    text-align: justify;
    font-size: 15px;
    display: flex;
    justify-content: center;

    & ul {
        list-style: disc;
        padding-left: 20px;
    }
}

.video {
    text-align: center;
    padding-bottom: 100px;
    border-bottom: solid var(--lines-color) 0.625rem;
}

.title {
    text-align: center;
    font-size: 5vh;
    padding-top: 1rem;
}

.actions {
    display: flex;
    justify-content: center;
    border-bottom: solid var(--lines-color) 0.625rem;
    padding: 1rem;
}

.act {
    text-align: center;
    padding: 40px;
    width: 30rem;

    & img {
        padding: 2rem;
        width: 15rem;
    }
}

.act h1 {
    font-family: 'gogh';
}

body {
    font-family: 'dmsans';
}

.mascot-description {
    text-align: start;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    justify-content: start;
    font-size: 2vh;
}