.event-search {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}

.event-inputs {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    text-align: center;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.event-inputs label {
    margin-bottom: 0.2rem;
}

.event-inputs input[type="text"],
.event-inputs input[type="date"] {
    padding: 0.75rem 1rem;
}

.event-inputs button {
    padding: 0.75rem 2rem;
    background-color: #d93f57;
    color: #ffffff;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start;
}

.event-inputs button:hover {
    background-color: #b83147;
}


.event-list {
    padding: 20px;
    background-color: #f1f1f1;
}

.event-list h2 {
    margin-bottom: 20px;
    color: #d9534f;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.card {
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

  
  .card img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .card-content {
    padding: 1rem;
  }
  
  .card-content h3 {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: #333;
  }
  
  .card-content p {
    margin-bottom: 0.5rem;
    color: #666;
  }
  
  .card-content a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  /* Paginação */
  .pagination {
    text-align: center;
    padding: 1rem 0;
  }
  
  .pagination a {
    color: var(--font-darkcolor);
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    border: 1px solid var(--font-secondarycolor);
    margin: 0 0.25rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
  }
  
  .pagination a:hover {
    background-color: var(--accent-color);
    color: var(--font-lightcolor);
  }
  
  .pagination a.active {
    background-color: var(--accent-color);
    color: var(--font-lightcolor);
    border-color: var(--accent-color);
  }
  