* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.hero {
    position: relative;
    background-image: url('../img/pequenosguerreiros2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    position: relative;
    text-align: center;
    z-index: 1;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 20px;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    padding: 0 5%;
}

.mudar {
    padding: 0px 0px 0px 50px;
}

.text-box {
    flex: 1;
    padding-right: 40px;
}

.image-box {
    flex: 1;
}

.image-box img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

h2 {
    font-size: 1.5rem;
    color: gray;
    margin-bottom: 10px;
}

.help-section {
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.help-section h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.help-section p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.help-options {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.option {
    position: relative;
    flex: 1;
    max-width: 300px;
    margin: 0 auto;
    overflow: hidden; 
    border-radius: 10px; 
}

.option img {
    width: 120%;
    height: 350px;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.option:hover img {
    transform: scale(1.1);
}

.option h3 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    margin: 0;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease;
}

.option:hover h3 {
    transform: translateX(-50%) translateY(-10%);
}

.partner-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
    background-color: #f9f6f4;
    color: #333;
    flex-wrap: wrap;
}

.image-container,
.form-container {
    flex: 1;
    max-width: 45%;
    margin: 10px;
} 


.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.form-container {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.form-container p {
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container input,
.form-container textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container textarea {
    height: 100px;
    resize: vertical;
}

.form-container button {
    padding: 10px;
    background-color: #9fdda3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.form-container button:hover {
    background-color: #9fdda3;
}

.parceiros-section {
    padding: 50px;
    background-color: #f0eee9;
}

.btn-saiba-mais {
    display: inline-block;
    background-color:#9fdda3;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.logos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logos img {
    max-width: 150px;
    margin: 10px;
}

@media (max-width: 768px) {
    .help-options {
        flex-direction: column;
        align-items: center;
    }
    .option {
        max-width: 100%;
    }
}